<!DOCTYPE html>
<html>
<head>
	<title>Create</title>
</head>
<body>
	<a href="/">Dashboard</a>
	<h1>Add a Animal here</h1>
	<form action="/users/new" method="post">
		Animal Name:<input type="text" name="animal"><br>
		Animal Breed:<input type="text" name="breed"><br>
		Posted By:<input type="text" name="name"><br>
		<input type="submit" value="Submit">
	</form>

</body>
</html>