<!DOCTYPE html>
<html>
<head>
	<title>Display</title>
</head>
<body>
	<h1>Animal info here</h1>
	
	<h3>Animal Name:<%=user.animal%></h3>
	<h3>Animal breed:<%=user.breed%></h3>
	<h3>Posted By:<%=user.name%></h3>
	

</body>
</html>